<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CMSConnectionString" connectionString="Data Source=103.83.81.9;Initial Catalog=CMS;User ID=ohmCms;Password=pOdv093*" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="en-GB"/>
  </system.web>
  <appSettings>
    <add key="Appointment.AppointmentBook" value="https://www.booking-adviser.com/AppointmentBook.asmx"/>
    <add key="PatientCheckUp.PatientChecup" value="https://www.booking-adviser.com/PatientChecup.asmx"/>
    <add key="DWS.DoctorWeeklyShedule" value="https://www.booking-adviser.com/DoctorWeeklyShedule.asmx"/>
  <add key="AppoinmentTemp.AppoinmentBookTemp" value="https://www.booking-adviser.com/AppoinmentBookTemp.asmx"/>
  </appSettings>
</configuration>